body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 10px;
}

h1 {
    color: #007BFF;
}

.recommendation {
    margin-top: 40px;
    max-width: 400px;
    margin: 0 auto;
}

.recommendation h2 {
    color: #007BFF;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 5px;
}
